body{
    width:100%;
    padding:0;
    margin:0;
}

div.main {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center; /* 세로 가운데 정렬 */
    align-items: center; /* 가로 가운데 정렬 */
    margin: 100px auto;
    padding: 0 20px;
}

div.main_top{
    display:flex;
    justify-content:space-between;
    width:1200px;
    margin:30px 0;
}

div.search-box>select#search-select{
    width:100px;
    height:30px;
    font-size:0.8rem;
}

div.search-box>input#search-input{
    width:300px;
    height:30px;
}

div.search-box>input#search-btn{
    width:80px;
    height:30px;
}

div.write_btn>a>button{
    width:80px;
    height:30px;
}

div.list_top{
    display:flex;
    justify-content:space-between;
    align-items:center;
    width:1200px;
    height:20px;
    padding:20px;
    border-bottom:5px solid white;
    border-radius:20px 20px 0 0;
    background-color:#2C875F;
    color:white;
}

div.list-top_info:first-child{
    margin-right:0;
}

div.list_top_info:nth-child(2){
    margin-left:0;
}

div.list_top_info p{
    margin:5px 0;
}

div.con_list{
    display:flex;
    justify-content:flex-start;
    align-items:center;
    width:1200px;
    height:250px;
    margin:0 0 20px 0;
    padding:20px;
    border-radius:0 0 20px 20px;
    background-color:#F0F0EF;
}

div.con_platform{
    /*float:left;*/
    text-align:center;
}

div.con_platform>img{
    width:150px;
    height:150px;
    border:1px solid gray;
    border-radius:10px;
}

div.con_platform_name{
    width:130px;
    margin-top:10px;
    padding:10px;
    border:1px solid gray;
    border-radius:20px;
    text-align:center;
    font-size:0.7rem;
    font-weight:900;
    color:white;
    background-color:#2C875F;
}

div.con_text{
    margin-left:200px;
}

p#title{
    font-size:1.2rem;
    font-weight:900;
    color:#2C875F;
}

p#title:hover{
    cursor:pointer;
    color:#B4230E;
}

/* Pagination */
div.main .pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

div.main .pagination .page-item {
    list-style: none;
    margin: 0 5px;
    display: inline; /* Added */
}

div.main .pagination .page-link {
    padding: 5px 10px;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
    color: #333;
    text-decoration: none;
    cursor: pointer; /* Added cursor style */
}

div.main .pagination .page-link:hover {
    background-color: #ddd;
}

div.main .pagination .page-item.active .page-link {
    background-color: #2C875F;
    color: #fff;
    border-color: #2C875F;
}

div.main .pagination .page-item.disabled .page-link {
    pointer-events: none;
    cursor: default;
    background-color: #f9f9f9;
    border-color: #ddd;
    color: #333;
}