body{
    width:100%;
    padding:0;
    margin:0;
    background-color:#F0F0EF;
}

.main {
    width:100%;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    margin: 100px auto;
    padding: 0 20px;
}

/* 버튼 라인 */
.first-line{
    display:flex;
    justify-content:space-between;
    width:1200px;
    margin-bottom:30px;
}

.btn-group{
    margin-right:0;
}

#modify-btn,#back-btn,#delete-btn {
    width:100px;
    height:40px;
    border:none;
    border-radius:10px;
    font-size:0.8rem;
    font-weight:900;
}

.back-btn{
    margin-left:0;
}

#modify-btn, #back-btn{
    background-color:#2C875F;
    color:white;
}

#delete-btn{
    background-color: #CCCCCC;
}

#modify-btn:hover,#back-btn:hover{
    cursor:pointer;
    background-color:#48A56F;
}

#delete-btn:hover{
    cursor:pointer;
    background-color:#EEEEEC;
}

/* 제목 */
.second-line{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width:1200px;
    height:50px;
    border-radius:20px 20px 0 0;
    border-bottom: 3px solid #F0F0EF;
    padding:0 20px;
    background-color:#2C875F;
    color:white;
}

/* 작성자, 조회수 , 내용 */
.third-line{
    display:flex;
    justify-content:space-between;
    width:1200px;
    height:auto;
    border-bottom:3px solid #F0F0EF;
    padding:20px;
    background-color:white;
    flex-wrap:wrap;
}

.creator{
    margin-right:0;
}

.etc{
    margin-left:0;
}

/* 내용 */
.contents-line{
    width:1200px;
    height:auto;
    padding:20px;
    background-color:white;
    border-bottom: 3px solid #F0F0EF;
}

#contents{
    width:1200px;
    height:400px;
    resize:none;
    border:none;
    font-size:1rem;
    font-weight:800;
    background-color:white;
}

/* 이미지 표시*/
div.img-box{
    display:flex;
    justify-content:space-around;
    width:1200px;
    height:auto;
    padding:20px;
    border-bottom:3px solid #F0F0EF;
    background-color:white;
}
div.img-box>img{
    width:300px;
    height:200px;
}

div.last-line{
    width:1200px;
    height:auto;
    padding:20px;
    border-radius: 0 0 20px 20px;
    background-color:#2C875F;
}