body{
    width:100%;
    padding:0;
    margin:0;
}

div.main {
    display: flex;
    flex-direction: column;
    justify-content: center; /* 세로 가운데 정렬 */
    align-items: center; /* 가로 가운데 정렬 */
    width: 1200px;
    height:auto;
    margin: 100px auto;
    padding: 0 20px;
    border-radius:20px;
    background-color:#F0F0EF;
}

/* Style for form elements */
/*li {
    margin-bottom: 15px;
    text-align: left;
    width: 100%;
}*/

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

div.platform{
    display:flex;
    justify-content:space-between;
    width:80%;
}

div.input_title{
    width:80%;
}

div.input_title>input#title{
    width:100%;
    height:30px;
    border: 1px solid #ccc;
    border-radius:5px;
    box-sizing:border-box;
}

div.input_contents{
    width:80%;
}

div.input_contents>textarea#contents{
    width:100%;
    height:350px;
    border: 1px solid #ccc;
    border-radius:5px;
    box-sizing:border-box;
    resize:none;
}

input[type="number"],
input[type="date"]{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

/* Style for the file input */
input[type="file"] {
    display: none; /* Hide the default file input */
}

.img_box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 10px;
}

.img_box img {
    max-width: 150px;
    max-height: 150px;
    margin: 5px;
}

/* Style for the buttons */
input[type="button"] {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
}

#back_btn {
    background-color: #ccc;
    color: black;
}

/* Adjust button styles on hover */
input[type="button"]:hover {
    background-color: #0056b3;
}

#back_btn:hover {
    background-color: #bfbfbf;
}
