body{
    width:100%;
    padding: 0;
    margin:0;
    background-color:#F0F0EF;
}

div.main {
    display: flex;
    flex-direction: column;
    justify-content: center; /* 세로 가운데 정렬 */
    align-items: center; /* 가로 가운데 정렬 */
    width: 1200px;
    height:auto;
    margin: 100px auto;
    padding: 50px 20px;
    border-radius: 20px;
    background-color:white;
}

/* Style for form elements */
#label_platform{
    width:80%;
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
}

#label_title,#label_contents {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
}

#label_participants, #label_deadline{
    display:inline;
    font-weight:bold;
    margin-right:10px;
}

div.platform{
    display:flex;
    justify-content:space-between;
    width:80%;
    margin-bottom:30px;
}

div.input_title{
    width:80%;
    margin-bottom:30px;
}

div.input_title>input#title{
    width:100%;
    height:40px;
    border: 1px solid #ccc;
    border-radius:5px;
    box-sizing:border-box;
}

div.input_contents{
    width:80%;
    margin-bottom:30px;
}

div.input_contents>textarea#contents{
    width:100%;
    height:350px;
    border: 1px solid #ccc;
    border-radius:5px;
    box-sizing:border-box;
    resize:none;
}

div.input_etc{
    display:flex;
    justify-content: space-between;
    width:80%;
    height:auto;
    margin-bottom:30px;
}

div.input_participants, div.input_deadline{
    width:320px;
}

input[type="number"],
input[type="date"]{
    width: 65%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

/* 파일 */
#file_btn{
    font-weight:bold;
    color:#2C875F;
}

#file_btn:hover{
    cursor:pointer;
}

input[type="file"] {
    display: none; /* Hide the default file input */
}

/* 이미지 처리 */
.img_box {
    width:80%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 10px;
}

.img_box img {
    max-width: 200px;
    max-height: 150px;
    margin: 5px;
}

/* 버튼 */
input[type="button"] {
    width:100px;
    height:40px;
    border:none;
    border-radius:10px;
    font-size:0.8rem;
    font-weight:900;
}

div.btns{
    margin-top:50px;
}

#write_btn{
    background-color:#2C875F;
    color:white;
    margin-right:20px;
}

#update_btn{
    background-color:#2C875F;
    color:white;
    margin-right:20px;
}

#back_btn {
    background-color:#EEEEEC;
    color: black;
    border:1px solid gray;
}

/* Adjust button styles on hover */
input[type="button"]:hover {
    cursor : pointer;
}

#write_btn:hover{
    background-color: #1D5E42;
}

#update_btn:hover{
    background-color: #1D5E42;
}

#back_btn:hover{
    background-color: #BDBEC2;
}

