body{
    width:100%;
    padding:0;
    margin:0;
    background-color:#F0F0EF;
}

div.main {
    margin: 50px 10%;
}

h2>a{
    font-weight: bold;
    font-size: 1.5rem;
}

.list {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center; /* 세로 가운데 정렬 */
    align-items: center; /* 가로 가운데 정렬 */
    margin: 15px 0;
}

div.list_top{
    display:flex;
    justify-content:space-between;
    align-items:center;
    width: 100%;
    height: auto;
    padding:0 20px;
    border-bottom:5px solid #F0F0EF;
    border-radius:20px 20px 0 0;
    background-color:#2C875F;
    color:white;
}

div.list-top_info:first-child{
    margin-right:0;
}

div.list_top_info:nth-child(2){
    margin-left:0;
}

div.list_top_info p{
    margin:5px 0;
}

div.con_list{
    display:flex;
    justify-content:flex-start;
    align-items:center;
    width: 100%;
    height:250px;
    margin:0 0 20px 0;
    padding:0 20px;
    border-radius:0 0 20px 20px;
    background-color:white;
}

div.con_platform{
    /*float:left;*/
    text-align:center;
}

div.con_platform>img{
    width:150px;
    height:150px;
    border:1px solid gray;
    border-radius:10px;
}

div.con_platform_name{
    width:130px;
    margin-top:10px;
    padding:10px;
    border:1px solid gray;
    border-radius:20px;
    text-align:center;
    font-size:0.7rem;
    font-weight:900;
    color:white;
    background-color:#2C875F;
}

div.con_text{
    margin-left:200px;
}

p#title{
    font-size:1.2rem;
    font-weight:900;
    color:#2C875F;
}

p#title:hover{
    cursor:pointer;
    color:#B4230E;
}

/* Pagination */
div.main .pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

div.main .pagination .page-item {
    list-style: none;
    margin: 0 5px;
    display: inline; /* Added */
}

div.main .pagination .page-link {
    padding: 5px 10px;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
    color: #333;
    text-decoration: none;
    cursor: pointer; /* Added cursor style */
}

div.main .pagination .page-link:hover {
    background-color: #ddd;
}

div.main .pagination .page-item.active .page-link {
    background-color: #2C875F;
    color: #fff;
    border-color: #2C875F;
}

div.main .pagination .page-item.disabled .page-link {
    pointer-events: none;
    cursor: default;
    background-color: #f9f9f9;
    border-color: #ddd;
    color: #333;
}

/* 검색 */

h2{
    text-align: center;
}

.content-row{
    width: 100%;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}

#select-search-box{
    display: flex;
    justify-content: flex-end;
}

select::-ms-expand {
    display: none;
}

.select-box {
    position: relative;
    width: 120px;
    height: 30px;
    border-radius: 4px;
    border: 1px solid black;
}

#search-select {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    width: inherit;
    height: inherit;
    background: transparent;
    border: 0 none;
    outline: 0 none;
    padding-left: 10px;
    position: relative;
    z-index: 10;
    /*background-color:white;*/
}

#search-select option {
    padding: 5px;
    min-height: 30px;
}

.select-arrow {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    width: 35px;
    height: inherit;
    border-left: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.select-arrow img {
    width: 25px;
}

.rotated {
    transform: rotate(180deg);
}

#search-input{
    height: 30px;
    margin-left: 10px;
    border-radius: 4px;
}

#search-btn{
    height: 30px;
    background-color: #257954;
    color: white;
    font-weight:bold;
    border: none;
    border-radius: 4px;
    width: 60px;
    cursor: pointer;
}

.write{
    width: 100%;
    text-align: right;
    white-space: nowrap;
}

#write-btn{
    display: inline-block;
    border: none;
    background-color: #257954;
    color: white;
    width: 80px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 4px;
    font-weight:bold;
}

#write-btn>a{
    display: inline-block;
    width: 100%;
    height: 100%;
}