@import url(reset.css);

html{
    font-size: 20px;
}

.wrap{
    display: grid;
    grid-template-rows: 120px 1fr 100px;
    grid-template-columns: 1fr;
    grid-template-areas:
    'header'
    'main'
    'footer';
}

h1{
    font-size: 1.8rem;
}

a,a:active,a:visited{
    color: black;
    text-decoration: none;
}

/* header */
.header{
    grid-area: header;
    /* background-color: bisque;  확인용*/
    display: flex;
    justify-content:flex-start;
    align-items: center;
    text-align: center;
    background:url(https://ucarecdn.com/3c76a351-7e53-4b36-946f-9ae5e2b4b3a1/);
    background-size:cover;
}

/* main */
.main{
    grid-area: main;
    min-height: 80vh;
}

/* footer */
.footer{
    grid-area: footer;
    /*background-color:bisque;  확인용*/
    background:url(https://ucarecdn.com/3c76a351-7e53-4b36-946f-9ae5e2b4b3a1/);
    background-size:cover;
}

.logo{
    flex-grow: 1;
}

.logo>a>img{
    width:250px;
    height:250px;
}

.header-menu{
    flex-grow: 4;
}

.login{
    flex-grow: 1;
}

.login a:hover{
    color: brown;
    border-bottom: 2px solid salmon;
}

.join{
    flex-grow: 1;
}

.join a:hover{
    color: brown;
    border-bottom: 2px solid salmon;
}

.lang-select{
    flex-grow: 1;
}

.header-menu li{
    display: inline-block;
    margin: 0 5%;
}

.header-menu a:hover{
    color: brown;
    border-bottom: 2px solid salmon;
}

select#locales{
    padding:5px;
    border:1px solid black;
    border-radius:5px;
    width:120px;
    height:35px;
    font-size:0.8rem;
}

/* 푸터 CSS   --황인규*/
div.footer{
    display : flex;
    justify-content:center;
    flex-direction : column;
    align-items : center;
}

div.footer_logo{
    font-size:1.2rem;
    font-weight:800;
}

div.footer_detail{
    margin-top:10px;
}

div.footer_detail>ul{
    list-style:none;
    display:flex;
    padding:0;
}

div.footer_detail>ul>li{
    margin-right:10px;
    font-size:1rem;
    color:black;
}