.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}
#joinForm {
    display: flex;
    flex-wrap: wrap;
}
.join-box {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}
.join-box-left{
    border-right: 1px solid black;
}
.join-box-left, .join-box-right {
    flex: 0 0 48%;
    padding: 10px;
    box-sizing: border-box;
}
/*.join-box-right select {*/
/*    display: block;*/
/*    margin-bottom: 10px; !* 각 요소 사이에 여백 추가 *!*/
/*}*/


.lang-choose {
    display: flex; /* 가로 정렬을 위한 flex 컨테이너로 설정 */
    align-items: center; /* 수직 가운데 정렬 */
}

.use-lang-box, .wish-lang-box{
    flex: 1; /* 남은 공간을 채우도록 flex-grow 설정 */
    margin-right: 10px; /* 오른쪽 여백 추가 */
}

.use-lang-box  div, .wish-lang-box div {
    display: inline-block; /* 내용을 한 줄에 나란히 표시 */
    vertical-align: top; /* 상단 정렬 */
}

.line{
    margin-bottom: 30px;
}


/* 프로필 이미지 선택 input file을 보이지 않게 하고, 대신 라벨 클릭 시 버튼 기능으로 만듦 */
input[type=file]#profileImg{
    visibility: hidden;
}
#profileImgBtn{ /* 나중에 괜찮은 버튼 모양으로 바꿔주세요 */
    border: 1px solid black;
    border-radius: 5px;
    background-color: silver;
    cursor: pointer;
}

/* 프로필 이미지 크기 조정 필요 */
.profile-img-box>img{
    width: 100px;
    height: 100px;
}

/* error은 input, err는 p */
.error{
    border-color: red;
}

.err{
    display: none;
    color: red;
}