.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ffffff;
}

#joinForm {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.join-box-left, .join-box-right {
    padding: 20px;
    box-sizing: border-box;
    border-radius: 20px;
    background: linear-gradient(to bottom, rgb(230, 237, 253), rgba(229, 253, 235, 0.95));
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.join-button {
    margin-top: auto;
    justify-self: end;
    margin-right: 10px;
}




/*.join-box-right select {*/
/*    display: block;*/
/*    margin-bottom: 10px; !* 각 요소 사이에 여백 추가 *!*/
/*}*/


.lang-choose {
    display: flex; /* 가로 정렬을 위한 flex 컨테이너로 설정 */
    align-items: center; /* 수직 가운데 정렬 */
}

.use-lang-box, .wish-lang-box{
    flex: 1; /* 남은 공간을 채우도록 flex-grow 설정 */
    margin-right: 10px; /* 오른쪽 여백 추가 */
}

.use-lang-box  div, .wish-lang-box div {
    display: inline-block; /* 내용을 한 줄에 나란히 표시 */
    vertical-align: top; /* 상단 정렬 */
}

.line {
    display: flex;
    justify-content: left;
    margin-bottom: 30px;
    align-items: center;
}
.err-care{
    display: flex;
    flex-direction: column; /* 입력 폼과 에러 메시지를 세로로 배치 */
    justify-content: space-between;
    margin-bottom: 35px;
    align-items: center;
}
/* error은 input, err는 p */
.error{
    border-color: red;
}

.err {
    color: red;
    font-size: 14px;
    display: none;
    margin-top: 5px;
    height: 0;
}
.id-check-server{
    color: red;
    font-size: 14px;
    margin-top: 5px;
    height: 0;
}


/* 프로필 이미지 선택 input file을 보이지 않게 하고, 대신 라벨 클릭 시 버튼 기능으로 만듦 */
input[type=file]#profileImg{
    visibility: hidden;
}
#profileImgBtn{ /* 나중에 괜찮은 버튼 모양으로 바꿔주세요 */
    border: 1px solid black;
    border-radius: 5px;
    background-color: silver;
    cursor: pointer;
}

/* 프로필 이미지 크기 조정 필요 */
.profile-img-box>img{
    width: 100px;
    height: 100px;
}


.position {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 15%;
}

#workarea {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #1e1a3e;
    font-family: Raleway;
}

#personal {
    color:white;
    text-decoration:none;
    position:absolute;
    bottom:15px;
    right:2%;
}


.svg-wrapper {
    margin-top: 30px;
    position: relative;
    width: 150px;
    /*make sure to use same height/width as in the html*/
    height: 40px;
    display: inline-block;
    border-radius: 3px;
    margin-left: 5px;
    margin-right: 5px
}

#shape {
    stroke-width: 6px;
    fill: transparent;
    stroke: #009FFD;
    stroke-dasharray: 85 400;
    stroke-dashoffset: -220;
    transition: 1s all ease;
}

#text {
    margin-top: -31px;
    text-align: center;
}

#text a {
    text-decoration: none;
    font-weight: 100;
    font-size: 1.1em;
}

.svg-wrapper:hover #shape {
    stroke-dasharray: 50 0;
    stroke-width: 3px;
    stroke-dashoffset: 0;
    stroke: #06D6A0;
    cursor: pointer;
}
.spot{
    cursor: pointer;
    color: black;
}
a.spot {
    color: black;
}

.email-box {
    display: flex;
    justify-content: space-between; /* 입력 폼과 버튼을 최대한 간격을 두고 배치 */
    align-items: center;
    border: 0;
    padding: 5px;
    width: 90%;
}

.email-box > input,
.email-box > button {
    background: none;
    padding: 5px;
    margin: 0;
    border: none;
}

.email-box > input{
    background: white;
    padding: 5px;
    flex: 4; /* 입력 폼이 너비의 3/5를 차지하도록 설정 */
}

.email-box > button {
    height: 40px;
    flex: 2; /* 버튼이 너비의 2/5를 차지하도록 설정 */
}
.normal{
    width: 90%;
}
#joinForm input,
#joinForm button{
    border : 0.7px solid lightgray;
}
#joinForm input{
    height: 40px;
    padding: 5px;
}
