body{
    width:100%;
    padding:0;
    margin:0;
    background-color:#F0F0EF;
}

/* 자유게시판 게시글 */
.my-board-free{
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items:center;
}

.my-board-free-list{
    width:60%;
    margin: 20px 10%;
    padding: 40px;
    font-weight:800;
}

/* 커뮤니티 게시판 */
.my-board-community{
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items:center;
}

.board-community-line{
    width:60%;
    margin: 20px 10%;
    padding: 40px;
    font-weight:800;
}

.board-community-line a:hover{
    color:#1D5E42;
}

.accept-user{
    margin: 5px 0;
}