@import "reset.css";
.main{
    display: flex;
}

/* 슬라이드 메뉴*/
#sidebar{
    width: 20%;
    height: 100%;
    background-color: #333;
    color: wheat;
    text-align: center;
}

#menu li{
    line-height: 35px;
    cursor: pointer;
}

#board-sub{
    display: none;
}

.profile-img{
    width: 100px;
    height: 100px;
    margin: 0 auto;
}
.profile-img>img{
    width: 100%;
    height: 100%;
}

 /*내용 */
.content-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
}

h2#selected-menu{
    display: inline-block;
    margin: 20px 0;
    font-weight: bold;
    font-size: 1.5rem;
    margin-top: 50px;
}



